.row:first-child{
  background: transparent;
}
.row{
    background-color: white;
}
p{
  text-align: justify;
}
.aside {
  font-size:14px;
  /* margin-top: 6px; */
  width: 100%;
  margin-left: 0;
 /*  height: auto; */

}

.img_plano {
  margin-top: 5%;
  width: 80%;
  transition: margin-top 0.5s, width 0.75s;
}

#planoPista:hover>.img_plano{
  margin-top: 0%;
  width: 100%;
}

.oculto{
  display: none;
}


